.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.heroes {
  padding: 20px;
}

.ully {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 40px;
  justify-content: space-evenly;
  grid-template-columns: repeat(7, 1fr);
}

@media screen and (max-width: 1600px) {
  .ully {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .ully {
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .ully {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 800px) {
  .ully {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 500px) {
  .ully {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

.errorFetchContainer {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: auto;
  color: var(--color-red);
}

.errorFetchContainer h1 {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  border: 3px solid var(--color-red);
  justify-self: center;
  margin: 0 5rem;
  padding: 1rem 1rem;
}

.errorFetchContainer__img {
  max-width: 400px;
  transform: rotate(5deg);
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.errorFetchContainer__img img {
  max-width: 100%;
  min-height: 100%;
  max-width: 100%;
  min-height: 100%;
}
