.main {
  width: 100%;
  position: sticky;
  margin-top: 0px;
  top: 0px;
  height: 80px;
  background-image: linear-gradient(
    to right,
    var(--color-blue),
    var(--color-red)
  );

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  color: #ffff;
  z-index: 9;
  border: 5px solid #fff;
  transition: 0.2s all;
}

.main img {
  height: 50px;
}

.links {
  width: 40%;
  font-size: 1.5vw;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
}

.links a {
  transition: 0.5s all;
}

.links a:hover {
  transform: translateY(-5px);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.8rem;
}
.profile img {
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
}

.scrolledHeader {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
