.heroInfo {
  background-color: rgba(28, 42, 88, 0.8);
  min-height: 400px;
  width: 500px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
  border-top: 1px solid #fff;
  padding-top: 10rem;
}

.swiperSlide {
  padding: 0 5rem;
  height: 300px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  overflow-y: auto;
}

.swiper-scrollbar-drag {
  background: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.heroInfo__block {
  color: #fff;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.heroInfo__block h2 {
  margin-bottom: 15px;
}

.heroInfo__block p {
  margin-bottom: 10px;
}

.heroInfo__block p span {
  font-weight: bold;
  margin-right: 10px;
}
